## Explore data

In [2]:
import pandas as pd

In [3]:
terr2 = pd.read_csv("data/global_terrorism.csv")
terr2

,region_txt,country_txt,provstate,city,iyear,latitude,longitude,nkill,nwound,attacktype1
0,Central America & Caribbean,Dominican Republic,NaN,Santo Domingo,1970,18.456792,-69.951164,1.0,0.0,1
1,North America,Mexico,Federal,Mexico city,1970,19.371887,-99.086624,0.0,0.0,6
2,Southeast Asia,Philippines,Tarlac,Unknown,1970,15.478598,120.599741,1.0,0.0,1
3,Western Europe,Greece,Attica,Athens,1970,37.997490,23.762728,NaN,NaN,3
4,East Asia,Japan,Fukouka,Fukouka,1970,33.580412,130.396361,NaN,NaN,7
...,...,...,...,...,...,...,...,...,...,...
181686,Sub-Saharan Africa,Somalia,Middle Shebelle,Ceelka Geelow,2017,2.359673,45.385034,1.0,2.0,2
181687,Middle East & North Africa,Syria,Lattakia,Jableh,2017,35.407278,35.942679,2.0,7.0,3
181688,Southeast Asia,Philippines,Maguindanao,Kubentog,2017,6.900742,124.437908,0.0,0.0,7
181689,South Asia,India,Manipur,Imphal,2017,24.798346,93.940430,0.0,0.0,3
181690,Southeast Asia,Philippines,Maguindanao,Cotabato City,2017,7.209594,124.241966,0.0,0.0,3